<!DOCTYPE html>
<!--
AUTHOR: hbates@northmen.org
VERSION: 1.0
CREATED: 4.30.2015
Project: PPS AngularJS Demo
-->
<html lang="en" data-ng-app="districtApp">
	<head>
		<meta charset="utf-8">
		<title> * * PPS Demo * * </title>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="css/normalize.css" rel="stylesheet">
		<link href="css/foundation.css" rel="stylesheet">
		<link href="css/customs.css" rel="stylesheet">
	</head>

	<body class="pps-background pps-font" data-ng-controller="DistrictCtrl">
		<div class="row" id="top">
			<div class="small-6 left columns">
				<p class="pps-font-med">231.348.2100 :: 1130 Howard Street, Petoskey, MI 49770</p>
			</div>
			<div class="small-6 columns text-right css-glow">
				<a href="http://github.com" target="_blank"><span class="fa fa-github-alt fa-lg"></span></a>
				<a href="http://reddit.com/r/programming" target="_blank"><span class="fa fa-reddit fa-lg"></span></a>
				<a href="http://stackoverflow.com" target="_blank"><span class="fa fa-stack-overflow fa-lg"></span></a>
				<a href="http://slashdot.org" target="_blank"><span class="fa fa-linux fa-lg"></span></a>
				<a href="http://www.ncmich.edu" target="_blank"><span class="fa fa-university fa-lg"></span></a>
				<a href="http://bb.ncmich.edu" target="_blank"><span class="fa fa-file-text fa-lg"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns text-center" id="pps-header">
				<h1 class="pps-font-color pps-font" id="mainHeader">The Public Schools of Petoskey</h1>
				<h6 class="pps-font-color pps-font" id="mainSubHeader">A Special Place for Everyone</h6>
				<div class="row" id="mainMenu" data-ng-include="'pages/mainMenu.html'"></div>
			</div>
			<div class="row" ng-if="showCalendar == true">
				<br>
				<br>
				<div ng-include="'pages/calendar.html'"></div>
			</div>
			<div class="row" ng-if="showStaff == true">
				<div ng-include="'pages/stafflist.html'"></div>
			</div>
			<!--<div ng-include="'pages/stafflist.html'"></div>-->
		</div>

		<footer ng-include="'pages/footer.html'"></footer>

		<!-- SCRIPTS -->
		<script src="scripts/angular.js"></script>
		<script src="scripts/jquery-2.1.3.min.js"></script>
		<script src="scripts/DatesClass.js"></script>
		<script src="scripts/loadCalendar.js"></script>
		<script src="scripts/PersonClass.js"></script>
		<script src="scripts/main.js"></script>
		<script src="scripts/AngularJS/app.js"></script>
		<script src="scripts/AngularJS/controller.js"></script>
	</body>
</html>
