<div class="small-12 columns small-centered" id="menuFloat">
	<ul id="titleList">
		<li id="schools">Schools
			<ul>
				<li id="central">Central Elementary</li>
				<li id="lincoln">Lincoln Elementary</li>
				<li id="ottawa">Ottawa Elementary</li>
				<li id="sheridan">Sheridan Elementary</li>
				<li id="montessori">Montessori</li>
				<li id="ms">Middle School</li>
				<li id="hs">High School</li>
			</ul>
		</li>
		<li id="athletics">Athletics
			<ul>
				<li id="fall-sports">Fall</li>
				<li id="winter-sports">Winter</li>
				<li id="spring-sports">Spring</li>
			</ul>
		</li>
		<li>Band
			<ul>
				<li id="ms-band">Middle School</li>
				<li id="hs-band">High School</li>
			</ul>
		</li>
		<li id="administration">Administration</li>
		<li id="staff">Staff
			<ul>
				<li id="central_staff" ng-click="filterByBuilding('Central')">Central Elementary</li>
				<li id="lincoln_staff" ng-click="filterByBuilding('Lincoln')">Lincoln</li>
				<li id="ottawa_staff"  ng-click="filterByBuilding('Ottawa')">Ottawa</li>
				<li id="sheridan_staff" ng-click="filterByBuilding('Sheridan')">Sheridan</li>
				<li id="montessori_staff" ng-click="filterByBuilding('Montessori')">Montessori</li>
				<li id="ms_staff" ng-click="filterByBuilding('MS')">PMS</li>
				<li id="hs_staff" ng-click="filterByBuilding('HS')">PHS</li>
				<li id="spitler_staff" ng-click="filterByBuilding('Spitler')">Spitler</li>
			</ul>
		</li>
		<li id="powerschool">PowerSchool
			<ul>
				<li id="student-ps">Student/Parent</li>
				<li id="staff-ps">Staff</li>
			</ul>
		</li>
	</ul>
</div>