<!DOCTYPE html>
<!--
AUTHOR: HB
VERSION: 1.0
CREATED: 1.24.2013
ASSIGNMENT: HTML template
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>

	<body>
		<div class="row">
			<div class="small-12 small-centered columns">
				<button class="round" id="central" ng-click="filterByBuilding('Central')">Central</button>
				<button class="round" id="lincoln" ng-click="filterByBuilding('Lincoln')">Lincoln</button>
				<button class="round" id="ottawa" ng-click="filterByBuilding('Ottawa')">Ottawa</button>
				<button class="round" id="sheridan" ng-click="filterByBuilding('Sheridan')">Sheridan</button>
				<button class="round" id="pms" ng-click="filterByBuilding('MS')">PMS</button>
				<button class="round" id="phs" ng-click="filterByBuilding('HS')">PHS</button>
				<button class="round" id="montessori" ng-click="filterByBuilding('Montessori')">Montessori</button>
				<button class="round" id="spitler" ng-click="filterByBuilding('Spitler')">Spitler</button>
			</div>
		</div>
	</body>
</html>
